.root {
  position: relative;

  font-family: var(--ui-font), serif;
}

/* FONTS */
:root {
  --ui-font: "El Messiri", sans-serif;
  --fantasy-font: "Marck Script", cursive;
}

/* COLORS */

:root {
  --white: #ffffff;
  --light-gray: #e7e7e7;
  --gray: gray;
  --gray-transparent: rgba(0, 0, 0, .5);
  --black: rgba(0, 0, 0, .9);
}