.root {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  .speel-list {
    display: flex;
    background: gray;
    gap: 10px;
    padding: 10px;

    .spell {
      width: 65px;
      height: 65px;
      background: #e7e7e7;
    }
  }
}
