.root {
  position: fixed;
  right: 50px;
  bottom: 0;
  padding: 10px;
  background: 10px;

  button {
    cursor: inherit;
  }

  .inventory {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: gray;
    padding: 20px;

    .list {
    }
  }
}
